*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
  
}
body{
    background-color: #FAFAF9;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 100px;
}
/* text container styles */
.text-container{
    width: 50%;
}
.icon{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    background-color: #F5C044;
    text-align: center;
    padding: 5px;
}
.icon p{
    background: linear-gradient(to top,#F5C044,white);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
.text-container h2{
    color: #18181B;
    font-size: 2.25rem;
    margin-top: 1em;
    margin-bottom: .8em;
    
}
.text-container p{
    color: #52525A;
    font-size: 1.25rem;
    line-height: 1.8;
    margin-bottom: 1.25em;
}
.text-container ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #52525A;
    font-size: 0.875rem;
    margin-bottom: 12px;
}
/* Card container styles */

.card-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
}
.card-1{
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 30px;
    margin-left: 190px;
}
.pic{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;
}
.im-pic{
    margin-right: 0.5rem;
    width: 30%;
    height: 30%;
}
.card-1 h6, .card-2 h6{
    font-size: 1rem;
    margin-bottom: 5px;
    color: #18181B;
}
.card-1 p, .card-2 p{
    color: #52525A;
    font-size: 1rem;
    line-height: 2;
}
.card-2{
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 30px;
    margin-right: 190px;
}
.im-pic-2{
    margin-right: 0.5rem;
    width: 30%;
    height: 30%;
}

/* Responsive Media styles */
@media screen and (max-width:640px) {
    .container{
        flex-direction: column;
        padding: 30px;
    }
    .text-container, .card-container{
        width: 100%;
    }
    .responsive-icon{
        width: 30%;
        height: 30%;
    }
}
    
